## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
.vs/
*.DotSettings.user
*.orig

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Visual Studio
*.sln.docstates
*.sln.ide/

## Windows
Thumbs.db
Desktop.ini
